.farmers-table {
	margin-top: 30px;
	overflow: scroll;
}

.farmers-table
	.ant-table-thead
	> tr
	> th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
	background-color: transparent;
}

.farmers-table .ant-table-thead > tr > th {
	background-color: transparent;
	font-size: 13px;
	font-family: OpenSans-SemiBold;
	color: #2f2f2f;
	line-height: 17.7px;
}

.farmers-table .ant-table-tbody > tr > td {
	font-family: OpenSans-Regular;
	color: #2f2f2f;
	font-size: 13px;
	line-height: 20.7px;
}
.farmers-table tr.ant-table-expanded-row > td {
	background-color: transparent;
}

.checkbox-style-light .ant-checkbox-checked .ant-checkbox-inner {
	background-color: #717171 !important;
}

.property-access-modal .ant-modal-content {
	background-color: transparent !important;
}
.property-access-modal .ant-modal-body {
	padding: 0% !important;
}

.property-access-modal .custom-modal-header {
	background-color: white;
	width: 540px;
	height: 54px;
	border-radius: 8px;
}

.property-access-modal .custom-modal-header-2 {
	background-color: white;
	width: 640px;
	height: 54px;
	border-radius: 8px;
}

.property-access-modal .header-icon-modal {
	margin-left: 32px;
}

.property-access-modal .header-title-text {
	font-family: OpenSans-SemiBold;
	font-size: 19px;
	color: #46a23e;
	margin-left: 12px;
}
.property-access-modal .custom-modal-body {
	padding: 32px 32px 20px 32px;
	background-color: white;
	width: 540px;
	margin-top: 12px;
	border-radius: 8px;
}
.property-access-modal .custom-modal-body-2 {
	padding: 32px;
	background-color: white;
	width: 640px;
	margin-top: 12px;
	border-radius: 8px;
}
.property-access-modal .select-docs-text {
	color: #2f2f2f;
	font-size: 13px;
	font-family: OpenSans-Regular;
}
.property-access-modal .checkbox-style {
	font-size: 13px;
	font-family: OpenSans-Regular;
	color: #2f2f2f;
	margin-top: 19px;
}

.property-access-modal .documents-col {
	padding-left: 0%;
}
.property-access-modal .confirm-btn-modal {
	background-color: #46a23e;
	color: white;
	width: 112px;
	height: 40px;
	font-family: OpenSans-SemiBold;
	margin-left: 8px;
	font-size: 13px;
	margin-top: 20px;
}

.property-access-modal .confirm-btn-modal:hover {
	background-color: #46a23e;
}

.property-access-modal .cancel-btn-modal {
	background-color: #d8d8d8;
	color: #717171;
	width: 112px;
	height: 40px;
	font-size: 13px;
	font-family: OpenSans-SemiBold;
	margin-left: 8px;
	margin-top: 20px;
}
.property-access-modal .cancel-btn-modal:hover {
	background-color: #d8d8d8;
}
.property-access-modal .ant-modal-close {
	visibility: hidden;
}
.property-access-modal .searchbar-div {
	margin-top: 16px;
}
.property-access-modal .modal-searchbar {
	margin-right: 30px;
	width: 320px;
}
.property-access-modal .farmers-table .permission-field-1 {
	color: #2f2f2f;
	font-size: 13px;
	margin-left: 23px;
	font-family: OpenSans-Regular;
}
.property-access-modal .farmers-table .permission-field-2 {
	color: #ababab;
	font-size: 11px;
	margin-left: 23px;
	font-family: OpenSans-Regular;
}
.property-access-modal .farmers-table .delete-btn {
	cursor: pointer;
}

.property-access-modal .farmers-table-2 {
	overflow: hidden;
}
