.farm-details {
	margin-top: 60px;
}

.farm-details .farm-name {
	font-family: OpenSans-SemiBold;
	font-size: 25px;
	color: #00423a;
	border: none;
}

.farm-details .farm-name:focus {
	border: none;
}

.farm-details .edit-icon {
	margin-left: 20px;
}

.farm-details .delete-button {
	background-color: #d15757 !important;
	color: white;
	height: 42px;
	margin-left: 10px;
}

.farm-details .create-button {
	background-color: #98c21f !important;
	height: 42px;
}

.farm-details .farm-detail-div {
	margin-top: 30px;
}

.farm-details .select-options {
	margin-top: 4px;
}

.farm-details .ant-select:not(.ant-select-customize-input) .ant-select-selector {
	background-color: #f6f6f6 !important;
	border: none !important;
	border-radius: 4px !important;
	height: 40px;
	padding: 0px !important;
	box-shadow: none !important;
}

.farm-details .ant-select-single.ant-select-show-arrow .ant-select-selection-item {
	color: #717171;
	font-family: OpenSans-Regular;
	font-size: 13px;
	line-height: 40px;
	text-align: left;
	margin-left: 13px;
}

.farm-details .detail-heading {
	font-family: OpenSans-Regular;
	font-size: 11px;
	color: #2f2f2f;
}

.farm-details .detail-div-left-margin {
	margin-right: 16px;
}

.farm-details .state {
	width: 100px;
}
.farm-details .county {
	width: 200px;
}
.farm-details .legal {
	width: 120px;
}
.farm-details .latitude {
	width: 63px;
	margin-left: 6px;
}

.farm-details .input-location-points {
	background-color: #f6f6f6 !important;
	border: none;
	outline: none;
	width: auto;
	height: 40px;
	border-radius: 4px;
	margin-top: 4px;
	padding-left: 13px;
	padding-right: 13px;
	color: #717171;
	font-family: OpenSans-Regular;
	font-size: 13px;
	line-height: 40px;
	text-align: left;
	margin-right: 8px;
}
.farm-details .degree {
	width: 73px;
}
.farm-details .minutes {
	width: 73px;
}
.farm-details .seconds {
	width: 73px;
}
.farm-details .line-seperator {
	height: 1px;
	width: 100%;
	background-color: #d8d8d8;
	margin-top: 32px;
}
.farm-details .search-bar-div {
	margin-top: 56px;
}
.farm-details .property-table {
	margin-top: 30px;
}
.farm-details
	.ant-table-thead
	> tr
	> th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
	background-color: transparent;
}

.farm-details .ant-table-thead > tr > th {
	background-color: transparent;
	font-size: 13px;
	font-family: OpenSans-SemiBold;
	color: #2f2f2f;
	line-height: 17.7px;
}

.farm-details .ant-table-tbody > tr > td {
	font-family: OpenSans-Regular;
	color: #2f2f2f;
	font-size: 13px;
	line-height: 20.7px;
}
