.document-section-main {
	margin-top: 30px;
}

.document-section-main
	.ant-table-thead
	> tr
	> th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
	background-color: transparent;
}

.document-section-main .ant-table-thead > tr > th {
	background-color: transparent;
	font-size: 13px;
	font-family: OpenSans-SemiBold;
	color: #2f2f2f;
	line-height: 17.7px;
}

.document-section-main .ant-table-tbody > tr > td {
	font-family: OpenSans-Regular;
	color: #2f2f2f;
	font-size: 13px;
	line-height: 20.7px;
}

.document-section-main .documents-heading {
	font-family: OpenSans-SemiBold;
	font-size: 25px;
	text-align: left;
	margin-top: 25px;
}
.document-section-main .line-seperator {
	height: 1px;
	width: 100%;
	background-color: #d8d8d8;
	margin-top: 32px;
}

.document-section-main .farmers-table::-webkit-scrollbar {
	display: none;
}

.farmers-table {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
